<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <title>SG Network - Menu</title>
    <link rel="shortcut icon" href="icons/SGNetwork.png" />
    
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- 
     <script src="lib/ionic/js/angular/angular.js"></script>
    -->

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="js/quizzapp.js"></script>

  </head>
  <body>

<div class="bar bar-header bar-calm">
  <h1 class="title">Serious Games Network</h1>
</div>
<div class="bar bar-subheader bar-light" style="valign">
  <h1 class="title">
  Connected as <i class="ion-android-social-user"></i> Ahmed
  </h1>
</div>

<br /><br /><br /><br /><br />

<div class="row">
    <div class="col">&nbsp;</div>
    <div class="col col-33">
      <a class="button" href="index.html"><br /><img src="icons/play.png" height="180px" width="180px"/><br /> <h2>Jouer</h2></a>
    </div>
    <div class="col col-33">
      <a class="button" href="index.html"><br /><img src="icons/challenge.jpg" height="180px" width="180px"/><br /><h2>Défier</h2></a>
    </div>
    <div class="col">&nbsp;</div>
</div>

<div class="row">
    <div class="col">&nbsp;</div>
    <div class="col col-33">
      <a class="button" href="index.html"><br /><img src="icons/contribute.jpg" height="180px" width="180px"/><br /><h2>Contribuer</h2></a>
    </div>
    <div class="col col-33">
      <a class="button" href="index.html"><br /><img src="icons/explore.png" height="180px" width="180px"/><br /><h2>Explorer</h2></a>
    </div>
    <div class="col">&nbsp;</div>
</div>

<div class="tabs tabs-icon-left">
  <a class="tab-item" href="menu.html">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item" href="dashboard.html">
    <i class="icon ion-star"></i>
    My Dashboard
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
</div>

  </body>
</html>