<ion-view title="Serious Games Network - Quizz">
<ion-content padding="true" >

		<h2>{{currentQuestion.text}} {{currentQuestionNb}}/{{questions.length-1}}</h2>

<div class="row">
    <div class="col">
		<button ng-click="selectAnswer({{answer}});" ng-repeat="answer in currentQuestion.answers" class="button button-full button-calm">
			<h3>{{answer.text}}</h3>
		</button>
	</div>
    <div style="margin-left:15px;">
		<img src="img/ladder.png" />
	</div>
</div>
<div class="row">
    <div class="col">
      <a class="button" style="width:100%"><h4></h4><img src="icons/twiceprice.png" width="100%"/><h5>Points x2</h5></a>
    </div>
    <div class="col">
      <a class="button" style="width:100%"><h4></h4><img src="icons/star.jpeg"  width="100%"/><h5>Plus dur</h5></a>
    </div>
    <div class="col">
      <a class="button" style="width:100%"><h4></h4><img src="icons/toohard.jpeg"  width="100%"/><h5>Plus simple</h5></a>
    </div>
    <div class="col">
      <a class="button" style="width:100%"><h4></h4><img src="icons/afraid.png"  width="100%"/><h5>Ne sais pas</h5></a>
    </div>
</div>
  </ion-content>
</ion-view>
  
  
