<ion-view title="Serious Games Network - Profil">
<ion-content padding="true" >

<div ng-controller="DashboardController">

<div class="row">
     <div class="col col-20">
        <img src="images/am.png" width="88px" />
      </div>
      <div class="col">
        <h2 class="title"><i class="ion-android-social-user"></i> Ahmed</h2>
        <p>J'utilise SG Network pour explorer et apprendre sur de nouveaux sujets. L'application est top, attention à l'addiction !</p>
      </div>
</div>

<div class="row">
    <div class="col">
      <a class="item item-divider item-icon-right" style="background:lightgrey;">
        <h2>Développement</h2>
      </a>

      <a class="item item-divider item-icon-right">
        <h2>Java</h2>
      </a>
      <a class="item item-icon-right">
        <h2>Langage</h2>
        <span class="badge"><img src="icons/level{{level.java}}.png" height="25px" width="100px"/></span>
      </a>

      <a class="item item-divider item-icon-right">
        <h2>.Net</h2>
      </a>
      <a class="item item-icon-right">
        <h2>C#</h2>
        <span class="badge"><img src="icons/level{{level.dotnet}}.png" height="25px" width="100px"/></span>
      </a>

      <a class="item item-divider item-icon-right" style="background:lightgrey;">
        <h2>Application</h2>
      </a>
      <a class="item item-divider item-icon-right">
        <h2>AIR</h2>
      </a>

      <a class="item item-icon-right">
        <h2>Fonctionnel métier P&L</h2>
        <span class="badge"><img src="icons/level{{level.pnl}}.png" height="25px" width="100px"/></span>
      </a>
      <a class="item item-icon-right">
        <h2>Support applicatif niveau 1 & 2</h2>
        <span class="badge"><img src="icons/level{{level.support}}.png" height="25px" width="100px"/></span>
      </a>

    </div>
</div>

</div>

</ion-content>
</ion-view>