<ion-view title="Edit Quizz Profile">
  <ion-content class="padding">


<label class="item item-input item-stacked-label">
    <span class="input-label">Nom</span>
    <input type="text" placeholder="Nom" ng-model="quizzProfile.name"/>
</label>  

<div ng-repeat="perTag in quizzProfile.perTags">
  <label class="item item-input">
    <span class="input-label">Label</span>
    <input type="text" ng-model="perTag.tags"/>
  </label>

  <div  ng-repeat="countPerLevel in perTag.countPerLevels" >
	  <label 
	  	class="item item-input">
	    <span class="input-label">Count/Niveau {{countPerLevel.level}}</span>
	    <input type="range" name="Niveau" min="0" max="10" ng-model="countPerLevel.count"/>
	  </label>
  </div>
  
  <button class="button icon ion-gear-a" ng-click="addCountPerLevel(perTag)">Autre Count/Niveau...</button>
  
</div>  

<button class="button icon ion-gear-a" ng-click="addTag()">Autre Tag...</button>

<br/>
<button class="button button-calm" ng-click="save()">Enregistrer</button>

  </ion-content>
</ion-view>
