<ion-view title="Serious Games Network - Jeux">
<ion-content padding="true" >

<div class="row">
    <div class="col">
      <a class="button" href="#/tab/quizz-select" style="width:100%"><h4></h4><img src="icons/sword.png" width="100%"/><br /> <h4>Quizz</h4></a>
    </div>
    <div class="col">
      <a class="button" href="/templates/spinwheel.html" style="width:100%"><h4></h4><img src="icons/wheel.jpg" width="100%"/><br /><h4>Roue de la fortune</h4></a>
    </div>
 </div>

<div class="row">
    <div class="col">
      <a class="button" href="#/tab/inprogress" style="width:100%"><h4></h4><img src="icons/dice.png" width="100%"/><br /><h4>Des volontaires ?</h4></a>
    </div>
    <div class="col">
      <a class="button" href="#/tab/inprogress" style="width:100%"><h4></h4><img src="icons/postit.png" width="100%"/><br /><h4>Tableau & Post-it</h4></a>
    </div>
</div>

</ion-content>
</ion-view>