<ion-view title="Serious Games Network - Contribuer une question">
<ion-content class="padding">

<label class="item item-input item-stacked-label">
    <span class="input-label">Texte</span>
    <input type="text" placeholder="Text" ng-model="question.text"/>
</label>  

<div>
  <label class="item item-input">
    <span class="input-label">Tags</span>
    <input type="text" ng-model="question.tags"/>
  </label>
  <label class="item item-input">
    <span class="input-label">Niveau</span>
    <input type="range" name="Niveau" min="0" max="5" ng-model="question.level"/>
  </label>
</div>  

<br/>

<h4>Réponses</h4>
<div ng-repeat="answer in question.answers">
  <label class="item item-input">
    <input type="text" placeholder="Text" ng-model="answer.text"/>
  </label>
  <label class="item item-input">
    <input type="score" placeholder="Score" ng-model="answer.score"/>
  </label>
</div>

<br/>

<div align=center>
<button class="button icon ion-gear-a" ng-click="addAnswer()"> &nbsp;Autre réponse</button>

<button ng-click="contributeQuestion()" class="button button-calm">
<h3>Contribuer</h3>
</button>
</div>
	
</ion-content>
</ion-view>
