<ion-view title="Select Quizz">
  <ion-content class="padding">


<h2>Choisissez un Quizz: 
<select ng-model="selectedQuizz">
	<option ng-repeat="c in availableQuiz">{{c.name}}</option>
</select>
</h2>
<button ng-enable="!!selectedQuizz" 
	ng-click="startSelectedQuizz();" class="button button-calm">
	<h3>Lancer le Quizz</h3>
</button>


<div ng-show="pendingChallenges.length == 0">
	Aucun challenge à relever
</div>
<div ng-show="pendingChallenges.length != 0">
	Challenges à relever:</BR>
	<div class="list">
		<div ng-repeat="c in pendingChallenges">
			<button class="item item-thumbnail-left" 
				ng-click="startChallenge(c)" class="button button-calm">
				Lancer
			</button>
	      <h3>{{c.name}}</h3>
	      <p>Challenged sent by {{c.sendFrom}}</p>
		</div>
	</div>
</div>

</ion-content>
</ion-view>
