<ion-view title="Défier">
  <ion-content class="padding">
    
<div><!--  ng-controller="SendChallengeController" -->
<h2>Choisissez un Quizz: 
<select ng-model="challenge.quizz">
	<option ng-repeat="c in availableQuizToSend">{{c.name}}</option>
</select>
</h2>
<BR/>

<h2>Send to Challenger:
<div class="list">

    <a class="item item-thumbnail-left" ng-repeat="u in friendUsersToSend" ng-click="toggleSelectedToSendChallenge(u)" >
      <img ng-src="{{u.photoURL}}">
      <h2>{{u.name}}</h2>
      <p>{{u.describeText}}</p>
      <p ng-show="!!u.selectedToSendChallenge">To send...</p>
    </a>

</div>


<BR/>
    </div>

		<button ng-enable="sendEnable" 
			ng-click="sendChallenges();" class="button button-calm">
			<h3>Send</h3>
		</button>

  </ion-content>
</ion-view>
