<ion-view title="Serious Games Network - A vous de jouer !">
<ion-content padding="true" >

<div class="row row-1">
    <div class="col col-1">
      <a class="button" ng-click="navigateToSelectGame()"><h4></h4><img src="icons/play.png" height="170px" width="170px"/><h4>Jouer</h4></a>
    </div>
    <div class="col col-2">
      <a class="button" href="#/tab/inprogress"><h4></h4><img src="icons/challenge.jpg" height="170px" width="170px"/><h4>Défier</h4></a>
    </div>
</div>

<div class="row row-2">
    <div class="col col-1">
      <a class="button" href="#/tab/inprogress"><h4></h4><img src="icons/contribute.png" height="170px" width="170px"/><h4>Contribuer</h4></a>
    </div>
    <div class="col col-2">
      <a class="button" href="#/tab/autoeval"><h4></h4><img src="icons/explore.png" height="170px" width="170px"/><h4>Explorer</h4></a>
    </div>
</div>

</ion-content>
</ion-view>