<ion-view title="Serious Games Network - A vous de jouer !">
<ion-content padding="true" >

<div class="row">
    <div class="col">
      <a class="button" ng-click="navigateToSelectGame()" style="width:100%"><h4></h4><img src="icons/play.png" width="100%"/><h4>Jouer</h4></a>
    </div>
    <div class="col">
      <a class="button" href="#/tab/sendchallenge" style="width:100%"><h4></h4><img src="icons/challenge.jpg"  width="100%"/><h4>Défier</h4></a>
    </div>
</div>

<div class="row">
    <div class="col">
      <a class="button" href="#/tab/contributequestion" style="width:100%"><h4></h4><img src="icons/contribute.png"  width="100%"/><h4>Contribuer</h4></a>
    </div>
    <div class="col">
      <a class="button" ng-click="navigateToExplorer()" style="width:100%"><h4></h4><img src="icons/explore.png"  width="100%"/><h4>Explorer</h4></a>
    </div>
</div>

</ion-content>
</ion-view>