<ion-view title="Serious Games Network - Jeux">
<ion-content padding="true" >

<div class="row row-1">
    <div class="col col-1">
      <a class="button" href="#/tab/questions"><h4></h4><img src="icons/sword.png" height="170px" width="170px"/><br /> <h4>Quizz</h4></a>
    </div>
    <div class="col col-2">
      <a class="button" href="/templates/spinwheel.html"><h4></h4><img src="icons/wheel.jpg" height="170px" width="170px"/><br /><h4>Roue de la fortune</h4></a>
    </div>
</div>

<div class="row row-2">
    <div class="col col-1">
      <a class="button" href="#/tab/inprogress"><h4></h4><img src="icons/dice.png" height="170px" width="170px"/><br /><h4>Des volontaires ?</h4></a>
    </div>
    <div class="col col-2">
      <a class="button" href="#/tab/inprogress"><h4></h4><img src="icons/postit.png" height="170px" width="170px"/><br /><h4>Tableau & Post-it</h4></a>
    </div>
</div>

</ion-content>
</ion-view>